@font-face {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Rubik:400,700'), format('woff');
}

$base-font: 'Rubik', Arial, Helvetica, sans-serif;


$light: 100;
$regular: 200;
$bold: 600;
