@mixin clearfix {
  clear: both;
  content: '';
  display: table;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin fix-header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: $app-header-z-index;
}
