@import './mixins';
@import './fonts';

.clearfix {
  &::after {
    @include clearfix;
  }
}

.center-the-box {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 3 column layout for header */
.col-container-header {
  padding: 16px;
  width: 100%;
  .col-1 {
    float: left;
    width: 80%;
  }
  .col-2 {
    float: left;
    width: 10%;
  }
  .col-3 {
    float: right;
    width: 10%;
  }
}

/* 3 dots option container */
.option-symbol {
    border: 1px solid $base-font-color;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-bottom:3px;
}

/* Generic 3 coloumn layout */
.col-container {
  width: 100%;
  padding: 16px;
  .col-1 {
    float: left;
    width: 33.33%;
  }
  .col-2 {
    float: left;
    width: 33.33%;
  }
  .col-3 {
    float: right;
    width: 33.33%;
  }
}

/* input control */
.reset-input-control {
  outline: none;
  border: 0;
  width: 100%;
  font-size: $base-font-size;
}
