// background color theme of the app
$background: linear-gradient(to bottom, #8e0e00, #1f1c18);

$bright-yellow-1: #a98600;
$bright-yellow-2: #dab600;

$light-yellow-1: #fff9ae;
$light-yellow-2: #f8ed62;
$light-yellow-3: #e9d700;

$black: #000000;

$default-color: #2c3e50;
